* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  background: #101013 !important;
  color: #ffffff !important;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}
